* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: grey;
}

.projectName {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    padding: 20px;
}

.calculatorBody {
    height: 500px;
    width: 400px;
    border: solid;
    border-width: 1px;
    margin: 0 auto;
    cursor: pointer;
}

.screen {
    background-color: black;
    width: 399px;
    height: 97px;
    text-align: right;
    color: white;
    font-family: monospace;
    padding: 20px;
    font-size: 50px;
}

.calc-button-row {
    display: flex;
    align-content: stretch;
    height: 80.2px;
    cursor: pointer;
}

.double {
    width: 50%;
}

.quarter {
    width: 25%;
}

.three-quarters {
    width: 75%;
}

.buttonBorder {
    border: solid;
    border-width: 1px;
}

button {
    font-size: 40px;
    align-items: center;
    background-color: #d8d9db;
}

button:last-child {
    background-color: #df974c;
    color: white;
    border-color: black;
}

button:hover {
    background: white;
    color: black;
}